/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@media screen and (min-width: 1280px) {
  body {
    font-family: "Jost";
    font-weight: 400;
    font-size: 1.3em;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  p {
    color: #64646a;
  }
  
  h3 {
    margin: 0;
  }
  
  .container {
    padding: 5vw 10vw;
  }
  
  .landing {
    background-color: #eeeff1;
  }
  
  nav,
  .nav-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 7vh;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 5vw 0 5vw;
  }

  .hamburger{
    display: none;
  }
  
  .nav-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
  }
  
  .nav-btns a{
    display: inline-block;
  }
  
  .nav-btns a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-btns .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .round-img {
    height: 3vw;
    width: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .black-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    background-color: #1b1b1d;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 100px;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  
  .black-btn:hover{
    cursor: pointer;
    background-color: #616169;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .landing-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .cofee-img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-weight: 500;
    margin: 0 0 0.4em 0;
  }
  
  .landing-content h1 {
    width: 30vw;
    font-size: 6em;
    line-height: 1.2em;
    -webkit-margin-before: 0.3em;
            margin-block-start: 0.3em;
    -webkit-margin-after: 0.3em;
            margin-block-end: 0.3em;
  }
  
  .leftblock,
  .rightblock {
    width: 50%;
  }
  
  .leftblock-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .leftblock-row a {
    margin-left: 1vw;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .leftblock-row a:hover {
    color: #616169;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .award-img {
    position: absolute;
    float: right;
    top: 25vh;
    left: 78vw;
  }
  
  .stars-block {
    background-color: #ffffff;
    width: 10vw;
    padding: 1.5vw;
    border-radius: 20px;
    width: 12.2vw;
    position: relative;
    bottom: 300px;
  }
  
  .stars-block img {
    width: 9vw;
  }
  
  .stars-block p {
    margin: 0;
  }
  
  .middle-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .middle-text h1 {
    margin-bottom: 0;
  }
  
  .explore-blocks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .explore-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 17vw;
    padding: 35px;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  .explore-card img {
    display: block;
    margin: 40px auto;
  }
  
  .explore-card button {
    margin: 0 auto;
  }
  
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .order h1 {
    line-height: 1.2em;
    -webkit-margin-after: 0.3em;
            margin-block-end: 0.3em;
  }
  
  .order img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
    max-width: 100%;
    height: auto;
  }
  
  .middle-text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 15vw;
    height: 10vh;
    margin: auto;
  }
  
  .rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10vh;
  }
  
  .rating-stars img {
    width: 8vw;
  }
  
  .rating-stars p {
    -webkit-margin-before: 0.5em;
            margin-block-start: 0.5em;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  
  .rating h2 {
    margin: 0;
  }
  
  .review-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .review-cards .round-img {
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .review-cards .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .review-card {
    width: 25vw;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  .review-card img {
    width: 25vw;
  }
  
  .card-content {
    padding: 20px 35px;
  }
  
  .card-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .card-name img {
    width: 7vw;
    margin-left: 20px;
  }
  
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  footer .round-img {
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact p {
    margin-left: 20px;
  }
  
  .round-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .round-images .round-img {
    margin-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .round-images .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  footer .rightblock {
    margin-left: 200px;
  }
  
  footer .leftblock a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .email-form {
    margin-top: 50px;
  }
  
  .form-email input {
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 100px;
    font-size: 0.8em;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
  }
  
  .line {
    background-color: #929292;
    height: 0.01em;
    padding: 0 10vw;
  }
  
  .footer-hover p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #1b1b1d;
  }
  
  .swiper{
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 640px) and (max-width: 1279px) {
  body {
    font-family: "Jost";
    font-weight: 400;
    font-size: 1.3em;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  p {
    color: #64646a;
  }
  
  h3 {
    margin: 0;
  }
  
  .container {
    padding: 5vw 10vw;
  }
  
  .landing {
    background-color: #eeeff1;
  }
  
  nav,
  .nav-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 7vh;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 5vw 0 5vw;
  }
  
  .nav-btns {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
  }
  
  .nav-btns a{
    display: inline-block;
  }
  
  .nav-btns a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-btns .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .round-img {
    height: 7vw;
    width: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .black-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    background-color: #1b1b1d;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 1.5vw 2vw;
    border: none;
    border-radius: 100px;
    font-weight: 500;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  
  .black-btn:hover{
    cursor: pointer;
    background-color: #616169;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .landing-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .coffee-img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-weight: 500;
    margin: 0 0 0.4em 0;
  }
  
  .landing-content h1 {
    width: 30vw;
    font-size: 5em;
    line-height: 1.2em;
    -webkit-margin-before: 0.3em;
            margin-block-start: 0.3em;
    -webkit-margin-after: 0.3em;
            margin-block-end: 0.3em;
  }
  
  .leftblock,
  .rightblock {
    width: 100%;
  }
  
  .leftblock-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .leftblock-row a {
    margin-left: 1vw;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .leftblock-row a:hover {
    color: #616169;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .rightblock{
    margin-top: 50px;
  }
  
  .award-img {
    position: absolute;
    float: right;
    top: 90vh;
    left: 70vw;
  }
  
  .stars-block {
    background-color: #ffffff;
    padding: 1.5vw;
    border-radius: 20px;
    width: 20vw;
    position: relative;
    bottom: 25vh;
  }
  
  .stars-block img {
    width:11vw;
  }
  
  .stars-block p {
    margin: 0;
  }
  
  .middle-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .middle-text h1 {
    margin-bottom: 0;
  }
  
  .explore-blocks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .explore-card {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 70%;
    padding: 35px;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  .explore-card img {
    display: block;
    margin: 40px auto;
  }
  
  .explore-card button {
    margin: 0 auto;
  }
  
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(238, 238, 238, 0.568);
    height: 100vh;
  }

  .order h1 {
    line-height: 1.2em;
    -webkit-margin-after: 0.3em;
            margin-block-end: 0.3em;
  }
  
  .order img {
    width: 80%;
    position: absolute;
    z-index: -5;
  }
  
  .middle-text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45vw;
    height: 10vh;
    margin: auto;
  }
  
  .rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
    margin-left: 10px;
  }
  
  .rating-stars img {
    width: 15vw;
  }
  
  .rating-stars p {
    -webkit-margin-before: 0.5em;
            margin-block-start: 0.5em;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  
  .rating h2 {
    margin: 0;
  }
  
  .review-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .review-cards .round-img {
    -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.24);
            box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .review-cards .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .review-card {
    width: 70%;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  .review-card img {
    width: 100%
  }
  
  .card-content {
    padding: 20px 35px;
  }
  
  .card-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .card-name img {
    width: 15vw;
    margin-left: 10px;
  }

  .hid{
    display: none;
  }
  
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  footer .round-img {
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact p {
    margin-left: 20px;
  }
  
  .round-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .round-images .round-img {
    margin-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .round-images .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  footer .leftblock a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .email-form {
    margin-top: 50px;
  }
  
  .form-email input {
    padding: 1.5vw 2vw;
    border: none;
    border-radius: 100px;
    font-size: 0.8em;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
  }
  
  .line {
    background-color: #929292;
    height: 0.01em;
    padding: 0 10vw;
  }
  
  .footer-hover p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #1b1b1d;
  }
  
  .swiper{
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  body {
    font-family: "Jost";
    font-weight: 400;
    font-size: 1em;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  p {
    color: #64646a;
  }
  
  h3 {
    margin: 0;
  }
  
  .container {
    padding: 5vw 10vw;
  }
  
  .landing {
    background-color: #eeeff1;
  }
  
  nav,
  .nav-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 7vh;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2vw 5vw 0 5vw;
  }
  
  .hamburger{
    width: 10vw;
  }

  .nav-btns {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
  }
  
  .nav-btns a{
    display: inline-block;
  }
  
  .nav-btns a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-btns .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .round-img {
    height: 9vw;
    width: 9vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .black-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    background-color: #1b1b1d;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 2.5vw 3vw;
    border: none;
    border-radius: 100px;
    font-weight: 500;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  
  .black-btn:hover{
    cursor: pointer;
    background-color: #616169;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .landing-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .coffee-img {
    width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-weight: 500;
    margin: 0 0 0.4em 0;
  }
  
  .landing-content h1 {
    width: 30vw;
    font-size: 3em;
    line-height: 1.2em;
    -webkit-margin-before: 0.3em;
            margin-block-start: 0.3em;
    -webkit-margin-after: 0.3em;
            margin-block-end: 0.3em;
  }
  
  .leftblock,
  .rightblock {
    width: 100%;
  }
  
  .leftblock-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .leftblock-row a {
    margin-left: 1vw;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .leftblock-row a:hover {
    color: #616169;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .rightblock{
    margin-top: 50px;
  }
  
  .award-img {
    position: absolute;
    float: right;
    top: 65vh;
    left: 65vw;
    max-width: 30%;
  }
  
  .stars-block {
    background-color: #ffffff;
    padding: 2.5vw;
    border-radius: 20px;
    width: 30vw;
    position: relative;
    bottom: 10vh;
  }
  
  .stars-block img {
    width:18vw;
  }
  
  .stars-block p {
    margin: 0;
  }
  
  .middle-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .middle-text h1 {
    margin-bottom: 0;
  }
  
  .explore-blocks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .explore-card {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 60%;
    padding: 35px;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  .explore-card img {
    display: block;
    width: 30vw;
    margin: 40px auto;
  }
  
  .explore-card button {
    margin: 0 auto;
  }
  
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(238, 238, 238, 0.568);
    height: 50vh;
  }

  .order h1 {
    line-height: 1.2em;
    -webkit-margin-after: 0.3em;
            margin-block-end: 0.3em;
  }
  
  .order img {
    width: 80%;
    position: absolute;
    z-index: -5;
  }
  
  .middle-text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60vw;
    height: 10vh;
    margin: auto;
  }
  
  .rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    margin-left: 10px;
  }
  
  .rating-stars img {
    width: 25vw;
  }
  
  .rating-stars p {
    -webkit-margin-before: 0.5em;
            margin-block-start: 0.5em;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  
  .rating h2 {
    margin: 0;
  }
  
  .review-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .review-cards .round-img {
    -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.24);
            box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .review-cards .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .review-card {
    width: 70%;
    border-radius: 24px;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  .review-card img {
    width: 100%
  }
  
  .card-content {
    padding: 20px 35px;
  }
  
  .card-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .card-name img {
    width: 25vw;
    margin-top: 10px;
  }

  .hid{
    display: none;
  }
  
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  footer .round-img {
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
  }
  
  .logo1{
    width: 50vw;
  }
  
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact p {
    margin-left: 20px;
  }
  
  .round-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .round-images .round-img {
    margin-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .round-images .round-img:hover{
    cursor: pointer;
    background-color: #dbdada;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  footer .leftblock a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .email-form {
    margin-top: 50px;
  }
  
  .form-email input {
    padding: 2.5vw 3vw;
    border: none;
    border-radius: 100px;
    font-size: 0.8em;
    -webkit-box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
  }
  
  .line {
    background-color: #929292;
    height: 0.01em;
    padding: 0 10vw;
  }
  
  .footer-hover p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #1b1b1d;
  }
  
  .swiper{
    width: 100%;
    height: auto;
  }
}

.find a{
  display: inline-block;
}

.find{
  display: flex;
  align-items: center;
}