* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: black;
    
}
header{
    display: flex;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.two{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 186px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 523px;
}

.lines{
    display: flex;

}
.text{
    font-size: 18px;
    width: 493px;
    height: 96px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 50px;
    font-style: normal;
    color: #2C1500;
}

h1{
    width: 523px;
    height: 166px;
    color: #156963;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
    margin-left: 50px;
}

.section_one{
    flex-direction: column;
}
.header{
    display: flex;

}

.plant{
    width: 608px;
}

.click_one{
    padding: 38px 49px;
    background-color: white;
    margin-right: 30px;
}
.click_one>span{
    font-style: medium;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
    color: #333333;
}

.click_one>h3{
    font-style: medium;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color:#156963;
    margin-top: 20px;
}

.next{
    padding: 38px 49px;
    background-color: #156963;

    
}
.next>span{
    font-style: medium;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
    vertical-align: top;
    color: #333333;

}

.next>h3{
    font-style: medium;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    vertical-align: top;
    color:#FFFFFF;
    margin-top: 20px;
}

a{
    text-decoration: none;
}
.lines{
    display: flex;
}

.nav_bar{
    position: absolute;
    height: 60px;
    width: 1220px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    margin-left: 930px;
    top: 45px;
}

.logo{
    position: absolute;
    margin: auto;
    width: 36px;
    height: 36px;
    left: 56px;
    top: 40px;
}

.vector{
    margin-right: 25px;
}
.sign_one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    background: #FFFFFF;
}

.up{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #156963;
}

.sign_two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    background: #156963;
}
.in{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.three{ 
    margin-left: 50px;
    margin-top: 200px;
    height: 155px;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.mult {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 268px;
    border: 1px solid gray;
}

.sod {
    width: 236px;
    height: 112px;

}

.pictzug {
    display: flex;
    justify-content: space-between;
    width: 201px;
    height: 48px;
    align-items: center;
}

h4 {
    width: 130px;
    color: #156963;
}

h5 {
    margin-top: 5px;
    width: 236px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #2C1500;
}

.four{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 100px;
}

.shapka{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 100px;
}
.FP{
    font-style: normal;
    font-weight: 500;
    width: 200px;
    font-size: 20px;
    line-height: 24px;
}

.CP{
    
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
}

.CP::after{
    content: "˅"; 
    margin-left: 10px;
}

.line {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    background: gray;
    height: 1px;
    opacity: 0.6;
}

.tovari {
    height: 300px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.tov p {
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

.IDR {
    font-weight: 600;
    text-align: center;
   
}

.tov {
    width: 220px;
}

.section_four{
     display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 186px;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 80px;
}
.relax{
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      width: 580px;
      height: 609.9px;
      justify-content: left;
      
}

.relax h6{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500;
}
.relax p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2C1500;
    margin-bottom: 50px;
}

.shop{
    width: 1190px;
    height: 360px;
    background-color: #F3F4F6;
    margin: auto;
    display: flex;
}

.visit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 585px;
    height: 360px;
}

.visit p{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500;
    padding: 88px 100px 0px 46px;
}


.click{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 152px;
    height: 40px;
    background: #156963;
    border: 1px solid #156963;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FAFEFE;
}

footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    height: 280px;
    padding-top: 100px;
    border-top: 1px solid #156963;
}

.firstC{
    width: 282px;
    height: 137px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 56px;
  
}

.firstC h6{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #156963;
}

.firstC span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.firstC p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4F4F4F;
}

.secondC{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 95px;
    height: 82px;
    gap: 20px;
}
.secondC span, .thirdC span, .fourthC span{
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
}

.secondC p, .thirdC p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


.thirdC{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    width: 95px;
    height: 82px;
}

.forthC{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    width: 199px;
    height: 16px;
}

.email{
    width: 234px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    padding-left: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
    margin-top: 14px;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    width: 51px;
    height: 22px;
    background: #156963;
    backdrop-filter: blur(5px);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 14px;
}
