
div{
    font-family: arial;
    width: 800px;
    background-color: lavender;
    margin: auto;
    text-align: center;
}

.text{
    text-align: center;
    color: white;
    font-size: 50px;
}

table {
    margin-left: 38%;
    text-align: center;
    border-collapse: collapse;
}
td {
    height: 30px;
    width: 30px;
}